/* Header */
#header img {
    width: 200px;
    margin: 20px;
    height: auto;
}

#hero {
    background-image: url("images/header.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

a.nav-link {
    color: black;
}

/* Hero Section */
button.btn.btn-primary.btn-lg {
    border: solid black 2px;
    background-color: transparent !important;
    color: black;
}

div#hero {
    padding: 100px;
    text-align: center;
}

h1.hero-section {
    text-align: center;
}

.container {
    text-align: center;
}

button.btn.btn-primary.btn-lg {
    margin-top: 20px;
}

/* About Section */

.row.featurette {
    align-items: center;
    margin: 50px;
}

.col-md-5 img {
    width: 300px;
    height: auto;
}

.col-md-5 {
    text-align: center;
}

/* Shipping Section */

div#shipping {
    background-color:#79729C;
    margin: 0;
    padding: 30px;
    color: white;
}

#shipping .col-sm-4 {
    text-align: center;
}

/* Product Section */

#products img {
    width: 100%;
    height: auto;
}

#products .col-sm-4 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

#products button.btn.btn-primary.btn-lg {
    width: 50%;
}

div#products {
    padding: 50px;
}

/* Before Section */

#before img {
    height: 400px;
}

/* Footer Section */

footer img {
    width: 300px;
}

footer {
    background-color: #E0D3DE;
}